%header.generic
  %h1
    %a{href: "/"} Hall of Stats
  %a#show-about{href: "#"} About
  #about-expanded{style: "display: none;"}
    %p
      Welcome to the Hall of Stats—an alternate Hall of Fame populated by a mathematical formula.
      %a{href: "/about"} Read more…
