= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 Positional Rankings

%figure.banner
  %img{:src => "/assets/photos/athletics-red-stockings.jpg"}/
  %figcaption
    Athletics and Red Stockings, 1875.
    %a{:href => "http://www.flickr.com/photos/boston_public_library/2350723098/"} Photo Credit

%section#position-rankings
  = render 'shared/position_grid'
