- content_for(:header_styles) do
  %style{:type => 'text/css'}
    :sass
      #branding
        border-top: 1px solid fade_out(black, 0.3)
        background-color: fade_out(black, 0.4)
      #photo-hint
        background-color: fade_out(black, 0.3)


= image_tag 'photos/ferrewe01.jpg', alt: 'Wes Ferrell Photo', width: '480'
%span#photo-hint
  That’s
  = succeed "." do
    = link_to "Wes Ferrell", player_path('ferrewe01')
