%section#related-players
  %h3
    Other
    = captions.first
    %small= captions.last
  %ul
    - @player.send(kind).each do |player|
      %li{class: ("current" if @player.id == player.id)}
        %a{href: player_path(player)}= player.name
        (#{player.hall_rating.round})
