= render 'shared/header'

%article{class: 'long-form'}

  %header
    %h2 About the Hall of Stats

  - content = capture_haml do
    :plain

      When the Hall of Fame ballot comes out each year, the debates start. Columnists compare today’s players to those of a “better time” and lament about the weakening of the Hall of Fame’s purity. The thing is, that “purity” doesn’t actually exist.

      For every @ruthba01, @cobbty01, @youngcy01, and @johnswa01 in the Hall of Fame there’s a @mccarto01, @wanerll01, @haineje01, and @marquru01.

      There’s a huge gap between Babe Ruth and Tommy McCarthy. How do you determine what “Hall-worthy” really is then? If you enshrine every player better than McCarthy, your Hall of Fame will have a population of ###. If you hold everyone to the same standards as Babe Ruth—or even @gwynnto01—you won’t be adding Hall of Famers very often.

      And what fun is a Hall of Fame if you’re only honoring a few players?

      Let’s make an example out of @trammal01. He’s currently struggling to get into the Hall of Fame and will likely be passed over by the BBWAA. It appears that his case will go to the Veterans Committee. Does he compare to Hall of Fame shortstops @wagneho01 and @ripkeca01? No, he doesn’t. But does he have to? Is he clearly better than @maranra01, @rizzuph01, and @jackstr01? Yes. How about @tinkejo01, @seweljo01, and @bancrda01? Yes, yes, and yes. All six are in the Hall of Fame. Alan Trammell was better than all of them (and more).

      To determine whether or not Trammell should be a Hall of Famer, we now have to consider both how much worse he is than the elite players at his position and how much better he is than some guys already inducted.

      It’s an absolute mess. The only way to fix it is to kick everyone out of the Hall of Fame and start from scratch. So that’s what I did.

      **They say, “It’s the Hall of Fame, not the Hall of Stats.”**

      But what if it was?

      The Hall of Stats removes everyone from the Hall of Fame and re-populates it based on a mathematical formula.

      You decide which Hall is better…

      ### The Formula ###

      *Stuff about the formula goes here.*

  = raw BioFormatter.new(content)

= render 'shared/search'
