$text_font: "Helvetica Neue", sans-serif
$title_font: "Lora", Garamond, Baskerville, "Times New Roman", serif
$blue_color: #003
$good_color: #060
$bad_color: #900
$brown_color: #4C230E
$default_color: $blue_color

=border_radius($radius)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  border-radius: $radius

=box_shadow($color, $values)
  -webkit-box-shadow: $color $values
  -moz-box-shadow: $color $values
  box-shadow: $color $values

=rotate($degrees)
  -webkit-transform: rotate($degrees + deg)
  -moz-transform: rotate($degrees + deg)
  -ms-transform: rotate($degrees + deg)
  -o-transform: rotate($degrees + deg)
  transform: rotate($degrees + deg)

=off_left
  position: absolute
  left: -9999px

=multi_paragraphs
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

=add_arrow
  &:after
    content: '▼'
    font-size: 65%
    margin-left: .4em

