@import 'mixins'

.portrait img
  border: 4px solid white
  +border_radius(5px)
  +box_shadow(#666, 0 0 8px)
  width: 98px
  height: 143px

.full-width-image
  max-width: 100%
  height: auto

.more
  &:after
    content: '…'

html
  @media only screen and (max-width: 480px)
    -webkit-text-size-adjust: none

*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  font-family: $text_font
  background: #666 url(/assets/fenway.jpg) no-repeat 50% 0 fixed
  font-size: 16px
  line-height: 1.5
  margin: 0
  color: #222
  @media only screen and (max-width: 480px)
    background-image: none

header, footer, section, figure
  display: block
  margin: 0

a
  font-weight: bold
  text-decoration: none
  &:link, &:visited
    color: lighten($default_color, 15%)
  &:hover, &:active
    color: lighten($default_color, 50%)
  &.rss
    color: #CD6839

.faux-link
  color: lighten($default_color, 15%)
  +add_arrow

code
  font-family: 'Inconsolata'
  font-size: 120%

hr
  border: 0
  height: 1px
  background-color: fade_out($default_color, .8)

#layout, footer
  max-width: 770px
  margin: 0 auto
  position: relative
  .home &
    @media only screen and (min-width: 640px)
      max-width: 770px

#layout
  background: #FFF url(/assets/old_mathematics.png) 0 0
  +box_shadow(#333, 0 0 10px)
  @media only screen and (min-width: 640px)
    overflow: hidden
  .player &
    padding-bottom: 40px

header.generic
  background-color: $default_color
  padding: 4px 10px
  position: relative
  h1
    margin: 0
    display: inline-block
    font-size: 120%
    font-family: $title_font
    margin-right: 10px
    @media only screen and (min-width: 480px)
      width: 50%
      margin-right: 0
    a
      &:link, &:visited, &:hover, &:active
        color: #FFF
        font-weight: normal
        @media only screen and (min-width: 640px)
          font-size: 120%

  nav
    display: inline-block
    list-style: none
    font-size: 85%
    ul
      display: inline-block
      margin: 0
      padding: 0
    li
      padding-right: 10px
      display: inline-block
      font-size: 85%
      &:last-child
        padding-right: 0
    a
      &:link, &:visited
        color: fade_out(white, 0.4)
      &:hover, &:active
        color: white
    @media only screen and (min-width: 768px)
      width: 50%
      text-align: right
      font-size: 100%
      li
        padding-left: 10px
        padding-right: 0

.cover-model
  position: relative
  overflow: hidden
  max-height: 700px

#player-id
  background-color: fade_out($default_color, 0.8)
  position: relative
  padding: 0 10px 10px
  .photo &
    min-height: 170px
    padding-right: 125px

  .portrait
    position: absolute
    top: 10px
    right: 10px

  h2
    margin: 0
    line-height: 1
    padding: 10px 0 4px
    .photo &
      font-size: 130%
      @media only screen and (min-width : 480px)
        font-size: 200%
      @media only screen and (min-width : 640px)
        font-size: 280%
    @media only screen and (min-width : 480px)
      font-family: $title_font
    @media only screen and (min-width : 480px)
      font-size: 200%
    @media only screen and (min-width : 640px)
      font-size: 280%
    span
      display: inline
      .photo &
        font-size: 150%
        display: block
        @media only screen and (min-width : 480px)
          display: inline
          font-size: 100%

  dl
    margin: 0
    .hall-of-stats, .hall-of-fame, .hall-of-merit
      display: inline-block
      margin: 10px 0
      a
        +responsive_pill
        display: block
    .hall-rating, dt.upcoming, dt.active
      margin: 10px 0
      +responsive_pill
    dt
      &.position, &.years, &.alt-hof
        +off_left
      &.hall-rating
        left: 0
        background-color: fade_out($default_color, 0.2)
        margin-left: -10px
      &.hall-of-fame, &.hall-of-stats, &.hall-of-merit, &.upcoming, &.active
        background-color: fade_out($good_color, 0.2)
        +border_radius(5px)
        @media only screen and (max-width : 480px)
          margin-left: -10px
          margin-right: 10px
          margin-top: 0
          +border_radius (0)
    dd
      margin: 0
      &.position
        font-size: 110%
        a
          font-weight: normal
        @media only screen and (min-width : 480px)
          font-size: 140%
      &.years
        font-size: 85%
        @media only screen and (min-width : 480px)
          font-size: 110%
        &:before
          content: "("
        &:after
          content: ")"
      &.hall-rating
        background-color: fade_out($default_color, 0.5)
        +border_radius(0 5px 5px 0)
        @media only screen and (max-width : 480px)
          margin-right: 10px
      &.hall-of-fame, &.hall-of-stats, &.hall-of-merit
        +off_left
      &.alt-hof, &.upcoming, &.active
        padding-bottom: 20px
        font-size: 85%
        @media only screen and (max-width : 480px)
          margin-top: 0

#value-breakdown
  dl
    margin: 0
    font-size: 85%
    dt
      +off_left
    dd
      display: inline-block
      color: white
      margin: 0
      padding: 2px 0
      font-weight: bold
      white-space: nowrap
      vertical-align: top
      &.peak
        background-color: fade_out($default_color, 0.2)
        z-index: 1
        position: relative
        text-indent: 10px
        &:after
          content: " Peak"
          font-weight: normal
          font-size: 80%
          text-transform: uppercase
      &.longevity
        background-color: fade_out($default_color, 0.5)
        text-align: right
        overflow: hidden
        text-overflow: ellipsis
        padding-right: 10px
        text-indent: 2px
        &:after
          content: " Longevity"
          font-weight: normal
          font-size: 80%
          text-transform: uppercase

#stats-summary, #related-players, #inductees, #featured-articles, .complete-list
  @media only screen and (min-width: 640px)
    float: left
    width: 60%

#intro, .home #list-of-articles, #position-lists, #position-rankings, #all-time-team, #franchise-rankings, #most-mentioned
  @media only screen and (min-width: 640px)
    float: right
    width: 40%

#section-padding
  padding: 10px
  h3
    font-size: 100%
    margin: 0 0 10px
    small
      color: #666
      font-size: 85%
      font-weight: normal

#bio
  @extend #section-padding
  border-bottom: 2px solid fade_out($default_color, .8)
  p
    +multi_paragraphs
    @media only screen and (max-width: 640px)
      font-size: 85%

#rankings
  @extend #section-padding
  border-bottom: 2px solid fade_out($default_color, .8)
  ul
    list-style: none
    padding: 0
    margin: 0
  li
    background-color: fade_out($default_color, 0.8)
    +border_radius(5px)
    padding: 2px 10px
    display: inline-block
    font-size: 85%
    margin-bottom: .5em
    em
      font-size: 85%
      font-style: normal
      color: #666
    @media only screen and (max-width : 480px)
      font-size: 75%

#franchise-contributions
  @extend #section-padding
  border-bottom: 2px solid fade_out($default_color, .8)
  ul
    list-style: none
    padding: 0
    margin: 0
  li
    display: inline-block
    font-size: 85%
    margin:
      bottom: .5em
      right: .5em
    em
      font-size: 85%
      font-style: normal
      color: #666
    @media only screen and (max-width : 480px)
      font-size: 75%

#stats-summary
  @extend #section-padding

#similar-players, #related-players
  @extend #section-padding
  thead
    th
      text-align: right
      &:first-child
        text-align: left
  th
    text-align: left
    span
      font-weight: normal
      font-size: 85%
  td
    text-align: right

#similar-players
  @media only screen and (min-width: 640px)
    padding: 0 0 0 60%
    margin: 10px

#search
  input[type=search]
    font-size: 100%
    width: 100%
    +border_radius(0)
    -webkit-appearance: none
    border: 0
    border-bottom: 2px solid fade_out($default_color, 0.6)
    padding: 10px
    margin: 0
    font-family: $text_font
    position: relative
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration
    -webkit-appearance: none
  display: none

  .ui-helper-hidden-accessible
    position: absolute
    left: -9999px

#intro
  @extend #section-padding
  font-size: 85%
  border-top: 2px solid fade_out($default_color, 0.8)
  p
    +multi_paragraphs
    margin: 10px 0
    &:first-child
      font-size: 120%
      font-weight: bold
  @media only screen and (max-width: 640px)
    border-top: 0

#franchise-rankings
  @extend #section-padding
  border-top: 2px solid fade_out($default_color, 0.8)
  li
    display: inline-block

.franchise-abbr
  padding: 2px
  min-width: 50px
  display: inline-block
  text-align: center
  margin-bottom: 4px
  color: white
  font-weight: bold
  background-color: #999

#position-rankings
  @extend #section-padding
  border-top: 2px solid fade_out($default_color, 0.8)
  body.position &
    @media only screen and (min-width: 640px)
      float: none
      width: auto
      border-top: 0
      max-width: 500px
      margin: 40px auto
  ul
    margin: 0
    padding: 0
    list-style: none
    position: relative
    height: 360px
    width: 100%
    &:before
      content: ''
      width: 160px
      height: 160px
      background-color: fade_out($default_color, 0.9)
      position: absolute
      +border_radius(20px)
      +rotate(45)
      left: 50%
      margin-left: -80px
      top: 150px
  li
    margin: 0
    padding: 0
  a
    position: absolute
    background-color: fade_out($default_color, 0.5)
    display: inline-block
    color: white
    padding: 4px
    +border_radius(36px)
    width: 36px
    text-align: center
    font-size: 13px
    &:hover
      background-color: fade_out($default_color, 0.3)
    &#link-p
      left: 50%
      margin-left: -22px
      top: 225px
    &#link-c
      left: 50%
      margin-left: -22px
      top: 320px
    &#link-2b
      left: 50%
      margin-left: 18px
      top: 140px
    &#link-ss
      left: 50%
      margin-left: -62px
      top: 140px
    &#link-cf
      left: 50%
      margin-left: -22px
      top: 10px
    &#link-3b
      left: 50%
      margin-left: -132px
      top: 220px
    &#link-1b
      left: 50%
      margin-left: 88px
      top: 220px
    &#link-lf
      left: 0
      top: 60px
    &#link-rf
      right: 0
      top: 60px
    &#link-dh
      left: 50%
      margin-left: 30px
      top: 320px

#list-of-articles
  @extend #section-padding
  h2
    font-size: 100%
    margin: 0 0 10px
  h2, h3
    a
      margin-left: 5px
      font-size: 12px
  .home &
    @media only screen and (min-width: 640px)
      border-top: 2px solid fade_out($default_color, .8)
  .article &
    border-top: 2px solid fade_out($default_color, .8)
    padding-bottom: 40px

.complete-list
  @media only screen and (min-width: 640px)
    border-right: 2px solid fade_out($default_color, .8)

#featured-articles
  @extend #section-padding
  h2
    font-size: 120%
    margin: 0 0 5px
  p
    margin: 0 0 5px
    font-size: 85%
  li
    span
      display: block
  @media only screen and (min-width: 640px)
    border-right: 2px solid fade_out($default_color, .8)

#position-lists
  @extend #section-padding
  ol
    counter-reset: li
    list-style: none
    min-height: 160px
    padding: 0
  li
    &:before
      content: counter(li)
      counter-increment: li
      font-size: 75%
      font-weight: bold
      color: #333
  small
    display: block
  figure
    float: left
    margin:
      top: 10px
      right: 10px

#most-mentioned
  @extend #section-padding
  ol
    list-style: none
    padding: 0
  li
    min-height: 53px
    margin-bottom: 10px
  figure
    float: left
    margin-right: 10px
    img
      width: 38px
      height: 53px
  span
    display: block
    font-size: 75%
    color: #666

#all-time-team
  @extend #section-padding
  border-top: 2px solid fade_out($default_color, .8)
  ol
    list-style: none
    padding: 0
  span
    font-size: 75%
    color: #666
  small
    display: block
  .about
    display: block
    a
      font-weight: normal

.article-list
  font-size: 85%
  list-style: none
  padding: 0
  margin: 0
  li
    border-top: 1px solid fade_out($default_color, 0.95)
    a
      display: block
      padding: 5px 0
    span
      font-weight: normal
      color: #666

.featured-article-list
  @extend .article-list
  a
    font-family: $title_font
    font-size: 130%
    span
      font-family: $text_font
      font-size: 75%

#comments
  @extend #section-padding

#social
  @extend #section-padding
  background-color: fade_out($default_color, 0.8)

.twitter-share-button
  vertical-align: top

table
  width: 100%
  border-left: 1px solid #aaa
  border-right: 1px solid #aaa
  border-top: 1px solid #aaa
  border-collapse: collapse
  thead, tbody, tfoot
    font-size: 85%
  th, td
    padding: 2px 4px
    background-color: white
    border-bottom: 1px solid #aaa
    text-align: center
    vertical-align: top
  small
    font-size: 75%
    color: #666
    font-weight: normal
  .current
    th, td
      background-color: fade_out($good_color, 0.9)
      a:link, a:visited
        color: #000
  thead
    th
      background-color: fade_out($default_color, 0.8)
  caption
    text-align: left
    font-weight: bold
    padding-bottom: 10px
    small
      color: #666
      font-size: 85%
      font-weight: normal
  &#win-value
    th
      width: 25%
    tfoot
      font-size: 80%
  &#run-value
    position: relative
    margin: 10px 0
    th
      width: 20%
      &:before
        content: ""
        display: block
        width: 19%
        background-color: fade_out($good_color, 0.2)
        position: absolute
        bottom: 100%
        +border_radius(3px 3px 0 0)
      &:first-child:before
        left: .5%
      &:nth-child(2):before
        left: 20.5%
      &:nth-child(3):before
        left: 40.5%
      &:nth-child(4):before
        left: 60.5%
      &:nth-child(5):before
        left: 80.5%

  &.data-align
    th, td
      text-align: right
      &:first-child
        text-align: left

  &#seasonal-stats
    .innerWrapper
      position: relative
      &:before
        content: ''
        position: absolute
        top: 10%
        z-index: 1
        height: 80%
        background-color: fade_out($good_color, .85)
        left: 100%
        +border_radius(0 4px 4px 0)
      &:after
        content: ''
        position: absolute
        top: 10%
        z-index: 1
        height: 80%
        background-color: fade_out($good_color, .85)
        left: 100%
        +border_radius(0 4px 4px 0)
    th
      &:first-child
        border-right: 1px solid #aaa
        width: 25%
    td
      text-align: right
    thead
      th
        text-align: right
        &:first-child
          text-align: center
        &:nth-child(2)
          text-align: left
    tbody
      th
        padding:
          right: 0
          left: 0
        & + td
          text-align: left
      span
        font-size: 85%
        color: #666

  &#run-value, &#win-value
    caption
      +off_left

.full-season-stat
  cursor: pointer

.partial-season-stat
  th, td
    background-color: transparent

#show-more-stats
  display: inline-block
  +add_arrow

#more-stats
  background-color: white
  font-size: 80%
  padding: 10px
  border:
    width: 0 1px 1px 1px
    style: solid
    color: #aaa
  p
    +multi_paragraphs

footer
  color: #DDD
  padding: 10px 0 100px
  @media only screen and (max-width: 770px)
    padding:
      left: 10px
      right: 10px
  p
    +multi_paragraphs
    font-size: 75%
    margin: 10px 0
  a
    &:link, &:visited, &:hover, &:active
      color: #FFF

#about
  padding: 0 10px 10px

section#inductees
  position: relative
  h2
    background-color: fade_out($default_color, .4)
    margin: 0
    padding: 4px 8px
    font-size: 100%
    position: relative
    color: white
    &:after
      content: 'Hall Rating'
      position: absolute
      top: 4px
      right: 8px
      color: white
    a
      &:link, &:visited, &:hover, &:active
        display: inline-block
        color: white
        +add_arrow
      @media only screen and (max-width : 400px)
        width: 200px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

  .player-list
    list-style: none
    padding: 0
    margin: 0
    counter-reset: li
    li
      position: relative
      background-color: fade_out($default_color, .95)
      margin: 0
      line-height: 1
      margin-bottom: 1px
      &:after, &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        height: 100%
        background-color: fade_out($default_color, .9)
        z-index: 1
        +border_radius(0 4px 4px 0)
      &:hover
        &:after, &:before
          background-color: fade_out($default_color, .85)
        a:link, a:visited
          color: black
      span
        position: absolute
        top: 10px
        right: 10px
        font-weight: normal
        color: #222
      strong
        display: block
        &:before
          content: counter(li)
          counter-increment: li
          font-size: 75%
          color: #333
      em
        display: block
        font-size: 75%
        font-weight: normal
        color: #666
        padding-top: 3px
        font-style: normal
        text-transform: uppercase
      a
        display: block
        padding: 10px
        position: relative
        z-index: 2

    @media only screen and (min-width: 640px)
      border-right: 2px solid fade_out($default_color, .8)
      min-height: 2000px

#filters, #filters-ajax
  position: absolute
  z-index: 3
  background-color: fade_out($default_color, .1)
  width: 100%
  ul
    list-style: none
    margin: 0
    padding: 5px 10px 10px
  li
    padding: 2px 0
  a
    display: block
    &:link, &:visited
      color: white
    &:hover, &:active
      color: fade_out(white, .2)
    &#show-p, &#show-added
      border-top: 1px solid fade_out(white, .8)
      padding-top: 4px
      margin-top: 4px
  span
    color: black
    background-color: #FFC
    display: inline-block
    padding: 0 4px
    font-size: 75%
    +border_radius(4px)
    margin-right: .25em

header.title
  background-color: fade_out($default_color, 0.8)
  padding: 10px 10px
  h2
    margin: 0
    font-size: 24px
    line-height: 1.2
    font-family: $title_font
    a
      &:link, &:visited, &:hover, &:active
      color: black
    @media only screen and (min-width: 640px)
      font-size: 36px
  small
    color: #333
    font-size: 75%
    font-weight: normal
  span
    display: block
    color: #666
    font-size: 80%
    margin: 5px 0

article
  &.long-form
    @media only screen and (max-width: 640px)
      tr, td
        font-size: 11px
    padding: 0 10px 40px 10px
    overflow: hidden
    header
      margin: 0 -10px
    .jump-menu
      margin: 0 -10px 10px
    .portrait
      float: right
      margin: 15px 5px 15px 25px
      width: 98px
      text-align: center
      figcaption
        font-size: 70%
    h3
      margin: 30px -10px 10px
      background-color: fade_out($default_color, 0.8)
      padding: 2px 10px
      font-size: 20px
      a
        font-size: 65%
        font-weight: normal
        white-space: nowrap
      small
        font-size: 85%
        font-weight: normal
        color: #666
    h4
      font-size: 110%
      margin: 15px 0
      span
        color: #666
        font-weight: normal
    p + h4
      margin-top: 30px
    p
      margin: 15px 0
    ul
      padding-left: 24px
    li
      margin-top: 5px
      &:first-child
        margin-top: 0
      > ul
        margin-top: 5px
    blockquote
      font-size: 14px
      color: #666
    p small
      display: block
      line-height: 1.4
      color: #666

.ui-autocomplete
  border-bottom: 2px solid fade_out($default_color, 0.6)
  background-color: fade_out(white, .05)
  margin: 0
  padding: 5px
  z-index: 3 !important
  max-width: 480px !important
  @media only screen and (min-width: 640px)
    max-width: 770px !important
  .home &
    border-bottom: 2px solid fade_out($default_color, 0.6)

  li
    list-style: none
    padding: 0
    margin: 0
    a
      display: block
      border-top: 1px solid #EEE
      cursor: pointer
      padding: 5px
    &:first-child a
      border-top: 0
      padding-top: 0
    span
      color: #999
      font-size: 14px
      font-weight: normal
      padding-left: 5px

.ui-state-hover
  background-color: #FFC

.banner
  position: relative
  .long-form &
    margin: 0 -10px
  img
    width: 100%
    display: block
  figcaption
    position: absolute
    bottom: 0
    left: 0
    font-size: 70%
    color: white
    font-weight: bold
    padding: 2px 10px
    background-color: fade_out(black, 0.5)
    +border_radius(0 4px 0 0)
  a
    font-weight: normal
    &:link, &:visited
      color: fade_out(white, 0.3)
    &:hover, &:active
      color: white
    &.player-link
      font-weight: bold
      color: white

.jump-menu
  background-color: fade_out($default_color, 0.8)
  padding: 10px
  font-size: 80%
  strong
    padding-right: 10px
  ol
    margin: 0
    padding: 0
    list-style: none
    display: inline
  li
    display: inline
    margin: 0
    padding-right: 10px
    display: inline
    white-space: nowrap
    &:last-child
      padding-right: 0
  a
    font-weight: normal

.pagination
  @extend #section-padding
  clear: both
  border-top: 2px solid fade_out($default_color, 0.6)

#ie-note
  background-color: #FFC
  padding: 20px
  text-align: center

#franchises
  @extend #section-padding

.franchise-list
  list-style: none
  padding: 0
  margin: 0 0 40px
  font-size: 85%
  body.franchise &
    @media only screen and (min-width: 640px)
      -moz-column-count: 2
      -webkit-column-count: 2
      column-count: 2
      -moz-column-gap: 0
      -webkit-column-gap: 0
      column-gap: 0

  li
    padding: 0
  span
    color: #666
    font-weight: normal
    font-size: 80%

.franchise-note
  margin: 5px 0 0
  font-size: 85%

#chart-container
  @extend #section-padding

  svg
    margin-bottom: 20px

  .tooltip
    position: absolute
    display: none
    font-size: 75%
    background: fade_out($default_color, 0.8)
    padding: 2px 8px
      
  h3
    border-bottom: 1px solid fade_out($default_color, 0.9)
    padding: 5px 0

  .axis path, .axis line
    fill: none
    stroke: #666
    shape-rendering: crispEdges

  .axis text
    font-size: 12px

  path.area
    opacity: 0.70

  circle.data-point
    fill: none
    stroke: none
    pointer-events: all
    opacity: 0.5

  .legend text
    font-size: 12px

#consensus-body
  th
    width: 8%
    &:first-child
      text-align: left
      width: auto
  td
    &:last-child
      color: $bad_color
    strong
      color: $good_color
    span
      text-indent: -9999em
      display: inline-block
      width: 100%
      height: 20px
      +border_radius(4px)
      vertical-align: middle
      background-color: fade_out($bad_color, .3)
  .true
    background-color: fade_out($good_color, .3)

  @media only screen and (min-width : 480px)
    h3
      clear: left
    h4
      margin-top: 0
    .two-columns
      .column
        float: left
        width: 50%