- content_for :title, "Negro League MLEs"

= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 Negro League MLEs

%figure.banner
  %img{:src => "/assets/photos/beckwjo02.jpg"}
  %figcaption
    That’s John Beckwith.
    %a{:href => "https://yogiberramuseum.org/visit/exhibits/discover-greatness/part3/"} Photo Credit

%article#upcoming-body.long-form
  %p
    Content to come
